.btn {
  background: green;
  padding: 20px 25px;
  border: none;
  font-size: 22px;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s ease all;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
}
